.fill-remaining-space {
  flex: 1 1 auto;
}
.clickable {
  outline: none;
}
.clickable:hover {
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .shortTextBtn {
    display: initial;
  }
  .longTextBtn {
    display: none;
  }
}

@media only screen and (min-width: 400px) {
  .shortTextBtn {
    display: none;
  }
  .longTextBtn {
    display: initial;
  }
}
