<main class="book-form-container">
  <h2 *ngIf="bookId; else hide">Update the book informaiton</h2>
  <ng-template #hide>
    <h2>Add a new book</h2>
  </ng-template>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Book title" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="ISBN" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Author" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price" type="number">
    </mat-form-field>
  </div>
</main>
